<h1>Table of Contents<span class="tocSkip"></span></h1>
<div class="toc"><ul class="toc-item"><li><span><a href="#Data-loading" data-toc-modified-id="Data-loading-1"><span class="toc-item-num">1&nbsp;&nbsp;</span>Data loading</a></span></li><li><span><a href="#Preprocessing" data-toc-modified-id="Preprocessing-2"><span class="toc-item-num">2&nbsp;&nbsp;</span>Preprocessing</a></span></li><li><span><a href="#데이터-분석" data-toc-modified-id="데이터-분석-3"><span class="toc-item-num">3&nbsp;&nbsp;</span>데이터 분석</a></span></li><li><span><a href="#모델에-활용하기위한-전처리" data-toc-modified-id="모델에-활용하기위한-전처리-4"><span class="toc-item-num">4&nbsp;&nbsp;</span>모델에 활용하기위한 전처리</a></span></li><li><span><a href="#모델설계(matrix-factorization)" data-toc-modified-id="모델설계(matrix-factorization)-5"><span class="toc-item-num">5&nbsp;&nbsp;</span>모델설계(matrix factorization)</a></span></li><li><span><a href="#MF-모델-학습하기" data-toc-modified-id="MF-모델-학습하기-6"><span class="toc-item-num">6&nbsp;&nbsp;</span>MF 모델 학습하기</a></span></li><li><span><a href="#영화-추천받기" data-toc-modified-id="영화-추천받기-7"><span class="toc-item-num">7&nbsp;&nbsp;</span>영화 추천받기</a></span></li><li><span><a href="#회고" data-toc-modified-id="회고-8"><span class="toc-item-num">8&nbsp;&nbsp;</span>회고</a></span></li></ul></div>

# Data loading

In [30]:
import numpy as np
import scipy
import implicit
import pandas as pd
import os

print(np.__version__)
print(scipy.__version__)
print(implicit.__version__)

1.21.4
1.7.1
0.4.8

In [46]:
rating_file_path=os.getenv('HOME') + '/aiffel/recommendata_iu/data/ml-1m/ratings.dat'
ratings_cols = ['user_id', 'movie_id', 'ratings', 'timestamp']
ratings = pd.read_csv(rating_file_path, sep='::', names=ratings_cols, engine='python', encoding = "ISO-8859-1")
orginal_data_size = len(ratings)
ratings.head()

   user_id  movie_id  ratings  timestamp
0        1      1193        5  978300760
1        1       661        3  978302109
2        1       914        3  978301968
3        1      3408        4  978300275
4        1      2355        5  978824291

# Preprocessing

In [47]:
# 3점 이상만 남깁니다.
ratings = ratings[ratings['ratings']>=3]
filtered_data_size = len(ratings)

print(f'orginal_data_size: {orginal_data_size}, filtered_data_size: {filtered_data_size}')
print(f'Ratio of Remaining Data is {filtered_data_size / orginal_data_size:.2%}')

orginal_data_size: 1000209, filtered_data_size: 836478
Ratio of Remaining Data is 83.63%

In [48]:
# ratings 컬럼의 이름을 counts로 바꿉니다.
ratings.rename(columns={'ratings':'counts'}, inplace=True)

In [49]:
ratings['counts']

0          5
1          3
2          3
3          4
4          5
          ..
1000203    3
1000205    5
1000206    5
1000207    4
1000208    4
Name: counts, Length: 836478, dtype: int64

In [50]:
ratings.head()

   user_id  movie_id  counts  timestamp
0        1      1193       5  978300760
1        1       661       3  978302109
2        1       914       3  978301968
3        1      3408       4  978300275
4        1      2355       5  978824291

In [51]:
# 영화 제목을 보기 위해 메타 데이터를 읽어옵니다.
movie_file_path=os.getenv('HOME') + '/aiffel/recommendata_iu/data/ml-1m/movies.dat'
cols = ['movie_id', 'title', 'genre'] 
movies = pd.read_csv(movie_file_path, sep='::', names=cols, engine='python', encoding='ISO-8859-1')
movies.head()

   movie_id                               title                         genre
0         1                    Toy Story (1995)   Animation|Children's|Comedy
1         2                      Jumanji (1995)  Adventure|Children's|Fantasy
2         3             Grumpier Old Men (1995)                Comedy|Romance
3         4            Waiting to Exhale (1995)                  Comedy|Drama
4         5  Father of the Bride Part II (1995)                        Comedy

# 데이터 분석

In [52]:
data = pd.merge(ratings, movies, on='movie_id')
data

,user_id,movie_id,counts,timestamp,title,genre
0,1,1193,5,978300760,One Flew Over the Cuckoo's Nest (1975),Drama
1,2,1193,5,978298413,One Flew Over the Cuckoo's Nest (1975),Drama
2,12,1193,4,978220179,One Flew Over the Cuckoo's Nest (1975),Drama
3,15,1193,4,978199279,One Flew Over the Cuckoo's Nest (1975),Drama
4,17,1193,5,978158471,One Flew Over the Cuckoo's Nest (1975),Drama
...,...,...,...,...,...,...
836473,5851,3607,5,957756608,One Little Indian (1973),Comedy|Drama|Western
836474,5854,3026,4,958346883,Slaughterhouse (1987),Horror
836475,5854,690,3,957744257,"Promise, The (Versprechen, Das) (1994)",Romance
836476,5938,2909,4,957273353,"Five Wives, Three Secretaries and Me (1998)",Documentary
836477,5948,1360,5,1016563709,Identification of a Woman (Identificazione di ...,Drama

In [53]:
# 소문자로 바꾸기
data['title'] = data['title'].str.lower()
data['genre'] = data['genre'].str.lower()
data

,user_id,movie_id,counts,timestamp,title,genre
0,1,1193,5,978300760,one flew over the cuckoo's nest (1975),drama
1,2,1193,5,978298413,one flew over the cuckoo's nest (1975),drama
2,12,1193,4,978220179,one flew over the cuckoo's nest (1975),drama
3,15,1193,4,978199279,one flew over the cuckoo's nest (1975),drama
4,17,1193,5,978158471,one flew over the cuckoo's nest (1975),drama
...,...,...,...,...,...,...
836473,5851,3607,5,957756608,one little indian (1973),comedy|drama|western
836474,5854,3026,4,958346883,slaughterhouse (1987),horror
836475,5854,690,3,957744257,"promise, the (versprechen, das) (1994)",romance
836476,5938,2909,4,957273353,"five wives, three secretaries and me (1998)",documentary
836477,5948,1360,5,1016563709,identification of a woman (identificazione di ...,drama

In [54]:
# 유저 수
data['user_id'].nunique() #num of unique를 출력

6039

In [55]:
# 영화수
data['movie_id'].nunique()

3628

In [56]:
# 유저별 영화대한 통계
user_count = data.groupby('user_id')['movie_id'].count()
user_count.describe()

count    6039.000000
mean      138.512668
std       156.241599
min         1.000000
25%        38.000000
50%        81.000000
75%       177.000000
max      1968.000000
Name: movie_id, dtype: float64

In [57]:
# 인기많은 영화
movie_count = data.groupby('title')['user_id'].count()
movie_count.sort_values(ascending=False).tail(30)

title
fall time (1995)                                                   1
baby, the (1973)                                                   1
mascara (1999)                                                     1
open season (1996)                                                 1
eaten alive (1976)                                                 1
fausto (1993)                                                      1
project moon base (1953)                                           1
ten benny (1997)                                                   1
telling you (1998)                                                 1
resurrection man (1998)                                            1
retro puppetmaster (1999)                                          1
outside ozona (1998)                                               1
death in brunswick (1991)                                          1
last resort (1994)                                                 1
criminal lovers (les amants criminels) (1999)                      1
last of the high kings, the (a.k.a. summer fling) (1996)           1
tough and deadly (1995)                                            1
i, worst of all (yo, la peor de todas) (1990)                      1
country life (1994)                                                1
relative fear (1994)                                               1
beauty (1998)                                                      1
crude oasis, the (1995)                                            1
simon sez (1999)                                                   1
shopping (1994)                                                    1
bay of blood (reazione a catena) (1971)                            1
tokyo fist (1995)                                                  1
show, the (1995)                                                   1
to have, or not (1995)                                             1
daens (1992)                                                       1
identification of a woman (identificazione di una donna) (1982)    1
Name: user_id, dtype: int64

In [58]:
my_favorite = ['matrix, the (1999)' , 'back stage (2000)' ,'eaten alive (1976)' ,'tokyo fist (1995)' ,'beauty (1998)']
my_playlist = pd.DataFrame({'user_id': ['5949']*5, 'title': my_favorite, 'counts':[30]*5})

if not data.isin({'user_id':['5949']})['user_id'].any():  # user_id에 'zimin'이라는 데이터가 없다면
    data = data.append(my_playlist)                           # 위에 임의로 만든 my_favorite 데이터를 추가해 줍니다. 

data.tail(10)

,user_id,movie_id,counts,timestamp,title,genre
836473,5851,3607.0,5,9.577566e+08,one little indian (1973),comedy|drama|western
836474,5854,3026.0,4,9.583469e+08,slaughterhouse (1987),horror
836475,5854,690.0,3,9.577443e+08,"promise, the (versprechen, das) (1994)",romance
836476,5938,2909.0,4,9.572734e+08,"five wives, three secretaries and me (1998)",documentary
836477,5948,1360.0,5,1.016564e+09,identification of a woman (identificazione di ...,drama
0,5949,NaN,30,NaN,"matrix, the (1999)",NaN
1,5949,NaN,30,NaN,back stage (2000),NaN
2,5949,NaN,30,NaN,eaten alive (1976),NaN
3,5949,NaN,30,NaN,tokyo fist (1995),NaN
4,5949,NaN,30,NaN,beauty (1998),NaN

# 모델에 활용하기위한 전처리

In [61]:
# 고유한 유저, 영화를 찾아내는 코드
user_unique = data['user_id'].unique()
movie_unique = data['title'].unique()
print(len(user_unique))
print(len(movie_unique))

# unique 유저, 아티스트를 찾아내 v:k(indexing:user)를 맵핑하는 구문
user_to_idx = {v:k for k,v in enumerate(user_unique)}
movie_to_idx = {v:k for k,v in enumerate(movie_unique)}
user_to_idx
movie_to_idx

6040
3628

{"one flew over the cuckoo's nest (1975)": 0,
 'james and the giant peach (1996)': 1,
 'my fair lady (1964)': 2,
 'erin brockovich (2000)': 3,
 "bug's life, a (1998)": 4,
 'princess bride, the (1987)': 5,
 'ben-hur (1959)': 6,
 'christmas story, a (1983)': 7,
 'snow white and the seven dwarfs (1937)': 8,
 'wizard of oz, the (1939)': 9,
 'beauty and the beast (1991)': 10,
 'gigi (1958)': 11,
 'miracle on 34th street (1947)': 12,
 "ferris bueller's day off (1986)": 13,
 'sound of music, the (1965)': 14,
 'airplane! (1980)': 15,
 'tarzan (1999)': 16,
 'bambi (1942)': 17,
 'awakenings (1990)': 18,
 'big (1988)': 19,
 'pleasantville (1998)': 20,
 'wallace & gromit: the best of aardman animation (1996)': 21,
 'back to the future (1985)': 22,
 "schindler's list (1993)": 23,
 'meet joe black (1998)': 24,
 'pocahontas (1995)': 25,
 'e.t. the extra-terrestrial (1982)': 26,
 'titanic (1997)': 27,
 'ponette (1996)': 28,
 'close shave, a (1995)': 29,
 'antz (1998)': 30,
 'girl, interrupted (1999)': 31,
 'hercules (1997)': 32,
 'aladdin (1992)': 33,
 'mulan (1998)': 34,
 'hunchback of notre dame, the (1996)': 35,
 'last days of disco, the (1998)': 36,
 'cinderella (1950)': 37,
 'sixth sense, the (1999)': 38,
 'apollo 13 (1995)': 39,
 'toy story (1995)': 40,
 'rain man (1988)': 41,
 'driving miss daisy (1989)': 42,
 'run lola run (lola rennt) (1998)': 43,
 'star wars: episode iv - a new hope (1977)': 44,
 'mary poppins (1964)': 45,
 'dumbo (1941)': 46,
 'to kill a mockingbird (1962)': 47,
 'saving private ryan (1998)': 48,
 'secret garden, the (1993)': 49,
 'toy story 2 (1999)': 50,
 'fargo (1996)': 51,
 'dead poets society (1989)': 52,
 'shine (1996)': 53,
 'verdict, the (1982)': 54,
 'shall we dance? (shall we dansu?) (1996)': 55,
 'courage under fire (1996)': 56,
 'untouchables, the (1987)': 57,
 'mission: impossible (1996)': 58,
 'few good men, a (1992)': 59,
 'star wars: episode i - the phantom menace (1999)': 60,
 'rebel without a cause (1955)': 61,
 'total recall (1990)': 62,
 'hustler, the (1961)': 63,
 'star wars: episode vi - return of the jedi (1983)': 64,
 'u.s. marshalls (1998)': 65,
 'jackal, the (1997)': 66,
 'gladiator (2000)': 67,
 'double jeopardy (1999)': 68,
 'yojimbo (1961)': 69,
 'ran (1985)': 70,
 'snake eyes (1998)': 71,
 'fisher king, the (1991)': 72,
 'mister roberts (1955)': 73,
 'day the earth stood still, the (1951)': 74,
 'hunt for red october, the (1990)': 75,
 'outbreak (1995)': 76,
 'simon birch (1998)': 77,
 'stand and deliver (1987)': 78,
 'maverick (1994)': 79,
 'stand by me (1986)': 80,
 'green mile, the (1999)': 81,
 'lost world: jurassic park, the (1997)': 82,
 'gandhi (1982)': 83,
 'strictly ballroom (1992)': 84,
 'league of their own, a (1992)': 85,
 'bodyguard, the (1992)': 86,
 'braveheart (1995)': 87,
 'ronin (1998)': 88,
 'payback (1999)': 89,
 'spanish prisoner, the (1997)': 90,
 'close encounters of the third kind (1977)': 91,
 'terminator 2: judgment day (1991)': 92,
 'alien: resurrection (1997)': 93,
 'guns of navarone, the (1961)': 94,
 "soldier's story, a (1984)": 95,
 'on the waterfront (1954)': 96,
 'picnic (1955)': 97,
 'misérables, les (1998)': 98,
 'american beauty (1999)': 99,
 'amadeus (1984)': 100,
 'remains of the day, the (1993)': 101,
 'demolition man (1993)': 102,
 'children of a lesser god (1986)': 103,
 'like water for chocolate (como agua para chocolate) (1992)': 104,
 'last of the mohicans, the (1992)': 105,
 'bonnie and clyde (1967)': 106,
 'jurassic park (1993)': 107,
 'prefontaine (1997)': 108,
 'doctor zhivago (1965)': 109,
 'groundhog day (1993)': 110,
 'die hard 2 (1990)': 111,
 'man in the iron mask, the (1998)': 112,
 'star trek vi: the undiscovered country (1991)': 113,
 'enemy of the state (1998)': 114,
 'key largo (1948)': 115,
 'dances with wolves (1990)': 116,
 'star wars: episode v - the empire strikes back (1980)': 117,
 'con air (1997)': 118,
 'twister (1996)': 119,
 'raiders of the lost ark (1981)': 120,
 'silence of the lambs, the (1991)': 121,
 'waking ned devine (1998)': 122,
 'ghostbusters ii (1989)': 123,
 'matrix, the (1999)': 124,
 'armageddon (1998)': 125,
 'shakespeare in love (1998)': 126,
 'serpico (1973)': 127,
 'french connection, the (1971)': 128,
 'conspiracy theory (1997)': 129,
 'what about bob? (1991)': 130,
 'rocky (1976)': 131,
 'kramer vs. kramer (1979)': 132,
 'ed wood (1994)': 133,
 'on golden pond (1981)': 134,
 'chariots of fire (1981)': 135,
 'desperado (1995)': 136,
 'die hard: with a vengeance (1995)': 137,
 'true lies (1994)': 138,
 'october sky (1999)': 139,
 'clear and present danger (1994)': 140,
 'fugitive, the (1993)': 141,
 "sophie's choice (1982)": 142,
 'gone with the wind (1939)': 143,
 'getaway, the (1994)': 144,
 'fifth element, the (1997)': 145,
 'thelma & louise (1991)': 146,
 'under siege (1992)': 147,
 "guess who's coming to dinner (1967)": 148,
 'grapes of wrath, the (1940)': 149,
 'independence day (id4) (1996)': 150,
 'mr. jones (1993)': 151,
 'spartacus (1960)': 152,
 'lethal weapon 3 (1992)': 153,
 'as good as it gets (1997)': 154,
 'indochine (1992)': 155,
 'mask of zorro, the (1998)': 156,
 'shawshank redemption, the (1994)': 157,
 'man with the golden arm, the (1955)': 158,
 'manhattan (1979)': 159,
 'forrest gump (1994)': 160,
 'graduate, the (1967)': 161,
 'animal house (1978)': 162,
 'raising arizona (1987)': 163,
 '28 days (2000)': 164,
 'happy gilmore (1996)': 165,
 'golden child, the (1986)': 166,
 'beverly hills ninja (1997)': 167,
 'naked gun: from the files of police squad!, the (1988)': 168,
 'fish called wanda, a (1988)': 169,
 'being john malkovich (1999)': 170,
 'edge, the (1997)': 171,
 'indiana jones and the last crusade (1989)': 172,
 'dragonheart (1996)': 173,
 'blade (1998)': 174,
 'men in black (1997)': 175,
 'ghost and the darkness, the (1996)': 176,
 'three musketeers, the (1993)': 177,
 'unforgiven (1992)': 178,
 'rock, the (1996)': 179,
 'young guns (1988)': 180,
 'young guns ii (1990)': 181,
 'caddyshack (1980)': 182,
 'butch cassidy and the sundance kid (1969)': 183,
 'crocodile dundee (1986)': 184,
 'easy rider (1969)': 185,
 'blazing saddles (1974)': 186,
 'deliverance (1972)': 187,
 'indiana jones and the temple of doom (1984)': 188,
 'breakfast club, the (1985)': 189,
 'monty python and the holy grail (1974)': 190,
 'little mermaid, the (1989)': 191,
 'fistful of dollars, a (1964)': 192,
 'alien (1979)': 193,
 'die hard (1988)': 194,
 'mad max (1979)': 195,
 'king kong (1933)': 196,
 'jaws (1975)': 197,
 'good, the bad and the ugly, the (1966)': 198,
 'goldfinger (1964)': 199,
 'terminator, the (1984)': 200,
 'who framed roger rabbit? (1988)': 201,
 'gods and monsters (1998)': 202,
 'delicatessen (1991)': 203,
 'clueless (1995)': 204,
 'velvet goldmine (1998)': 205,
 'love! valour! compassion! (1997)': 206,
 'citizen ruth (1996)': 207,
 'donnie brasco (1997)': 208,
 'wings of the dove, the (1997)': 209,
 'bound (1996)': 210,
 'mrs. dalloway (1997)': 211,
 'bowfinger (1999)': 212,
 'before sunrise (1995)': 213,
 'four days in september (1997)': 214,
 'orlando (1993)': 215,
 'bridge on the river kwai, the (1957)': 216,
 'piano, the (1993)': 217,
 'richard iii (1995)': 218,
 'pokémon the movie 2000 (2000)': 219,
 'seven (se7en) (1995)': 220,
 'south park: bigger, longer and uncut (1999)': 221,
 'pulp fiction (1994)': 222,
 'celluloid closet, the (1995)': 223,
 'l.a. confidential (1997)': 224,
 'cold comfort farm (1995)': 225,
 'priest (1994)': 226,
 'ravenous (1999)': 227,
 'x-files: fight the future, the (1998)': 228,
 'don juan demarco (1995)': 229,
 'death and the maiden (1994)': 230,
 'insider, the (1999)': 231,
 'beautiful thing (1996)': 232,
 'usual suspects, the (1995)': 233,
 'paris is burning (1990)': 234,
 'sleepy hollow (1999)': 235,
 'speed (1994)': 236,
 'all about my mother (todo sobre mi madre) (1999)': 237,
 'thin red line, the (1998)': 238,
 'faculty, the (1998)': 239,
 'pecker (1998)': 240,
 'pillow book, the (1995)': 241,
 'out of sight (1998)': 242,
 'ghostbusters (1984)': 243,
 'liar liar (1997)': 244,
 'player, the (1992)': 245,
 'crumb (1994)': 246,
 'creepshow (1982)': 247,
 'good will hunting (1997)': 248,
 'topsy-turvy (1999)': 249,
 'edward scissorhands (1990)': 250,
 'ice storm, the (1997)': 251,
 'trick (1999)': 252,
 'mystery men (1999)': 253,
 'pi (1998)': 254,
 "there's something about mary (1998)": 255,
 'go (1999)': 256,
 'night of the living dead (1968)': 257,
 'wild reeds (1994)': 258,
 'men with guns (1997)': 259,
 'living in oblivion (1995)': 260,
 'go fish (1994)': 261,
 "jackie chan's first strike (1996)": 262,
 'office killer (1997)': 263,
 'mrs. brown (her majesty, mrs. brown) (1997)': 264,
 'sweet hereafter, the (1997)': 265,
 'fast, cheap & out of control (1997)': 266,
 'strawberry and chocolate (fresa y chocolate) (1993)': 267,
 'poseidon adventure, the (1972)': 268,
 'goodfellas (1990)': 269,
 'love and death on long island (1997)': 270,
 'election (1999)': 271,
 'grosse pointe blank (1997)': 272,
 'fight club (1999)': 273,
 'all over me (1997)': 274,
 'washington square (1997)': 275,
 'north by northwest (1959)': 276,
 'babe: pig in the city (1998)': 277,
 'jackie brown (1997)': 278,
 "jacob's ladder (1990)": 279,
 'three kings (1999)': 280,
 'casino (1995)': 281,
 "billy's hollywood screen kiss (1997)": 282,
 'smoke (1995)': 283,
 'nightmare before christmas, the (1993)': 284,
 "romy and michele's high school reunion (1997)": 285,
 'incredibly true adventure of two girls in love, the (1995)': 286,
 'happiness (1998)': 287,
 'austin powers: international man of mystery (1997)': 288,
 'reservoir dogs (1992)': 289,
 'howards end (1992)': 290,
 'maltese falcon, the (1941)': 291,
 'kundun (1997)': 292,
 'final destination (2000)': 293,
 'waiting for guffman (1996)': 294,
 'big lebowski, the (1998)': 295,
 'afterglow (1997)': 296,
 'little voice (1998)': 297,
 'my life in pink (ma vie en rose) (1997)': 298,
 'mariachi, el (1992)': 299,
 'shanghai noon (2000)': 300,
 'rushmore (1998)': 301,
 'austin powers: the spy who shagged me (1999)': 302,
 'dick (1999)': 303,
 'big night (1996)': 304,
 'fear and loathing in las vegas (1998)': 305,
 'opposite of sex, the (1998)': 306,
 'madness of king george, the (1994)': 307,
 'bullets over broadway (1994)': 308,
 'cruise, the (1998)': 309,
 'city of lost children, the (1995)': 310,
 'welcome to the dollhouse (1995)': 311,
 'glengarry glen ross (1992)': 312,
 'nowhere (1997)': 313,
 'much ado about nothing (1993)': 314,
 "boys don't cry (1999)": 315,
 'misery (1990)': 316,
 'twelve monkeys (1995)': 317,
 'rosencrantz and guildenstern are dead (1990)': 318,
 'high art (1998)': 319,
 'bob roberts (1992)': 320,
 "but i'm a cheerleader (1999)": 321,
 'babe (1995)': 322,
 'dead man walking (1995)': 323,
 'dead man (1995)': 324,
 'romancing the stone (1984)': 325,
 'top gun (1986)': 326,
 'gone in 60 seconds (2000)': 327,
 "pete's dragon (1977)": 328,
 'anastasia (1997)': 329,
 'lion king, the (1994)': 330,
 "murphy's romance (1985)": 331,
 'moonstruck (1987)': 332,
 'jeremiah johnson (1972)': 333,
 'outlaw josey wales, the (1976)': 334,
 'to gillian on her 37th birthday (1996)': 335,
 'pretty woman (1990)': 336,
 'wyatt earp (1994)': 337,
 'other sister, the (1999)': 338,
 'arthur (1981)': 339,
 "my best friend's wedding (1997)": 340,
 'mighty ducks, the (1992)': 341,
 'blue hawaii (1961)': 342,
 'gypsy (1962)': 343,
 'tequila sunrise (1988)': 344,
 'keeping the faith (2000)': 345,
 'patriot, the (2000)': 346,
 'magnum force (1973)': 347,
 'babes in toyland (1961)': 348,
 "prizzi's honor (1985)": 349,
 'roustabout (1964)': 350,
 'room with a view, a (1986)': 351,
 'emma (1996)': 352,
 'apple dumpling gang, the (1975)': 353,
 'west side story (1961)': 354,
 'straight story, the (1999)': 355,
 'legends of the fall (1994)': 356,
 'sense and sensibility (1995)': 357,
 'starman (1984)': 358,
 'benny & joon (1993)': 359,
 'dirty dancing (1987)': 360,
 'casablanca (1942)': 361,
 'umbrellas of cherbourg, the (parapluies de cherbourg, les) (1964)': 362,
 'paulie (1998)': 363,
 'peggy sue got married (1986)': 364,
 'splash (1984)': 365,
 'out of africa (1985)': 366,
 'grease (1978)': 367,
 'little big league (1994)': 368,
 'witness (1985)': 369,
 'where the heart is (2000)': 370,
 'supercop (1992)': 371,
 'x-men (2000)': 372,
 'heat (1995)': 373,
 'exorcist, the (1973)': 374,
 'face/off (1997)': 375,
 'backdraft (1991)': 376,
 'in the line of fire (1993)': 377,
 'tomorrow never dies (1997)': 378,
 'patriot games (1992)': 379,
 'godfather: part ii, the (1974)': 380,
 'elizabeth (1998)': 381,
 'natural born killers (1994)': 382,
 "mo' better blues (1990)": 383,
 'jerry maguire (1996)': 384,
 'truman show, the (1998)': 385,
 'philadelphia (1993)': 386,
 'batman: mask of the phantasm (1993)': 387,
 'dead presidents (1995)': 388,
 'moll flanders (1996)': 389,
 'mr. saturday night (1992)': 390,
 'cider house rules, the (1999)': 391,
 'summer of sam (1999)': 392,
 'private parts (1997)': 393,
 'amistad (1997)': 394,
 'rob roy (1995)': 395,
 'poetic justice (1993)': 396,
 'waiting to exhale (1995)': 397,
 'soul food (1997)': 398,
 'anna and the king (1999)': 399,
 'postino, il (the postman) (1994)': 400,
 'eyes wide shut (1999)': 401,
 'he got game (1998)': 402,
 'buffalo 66 (1998)': 403,
 "devil's own, the (1997)": 404,
 'dolores claiborne (1994)': 405,
 'people vs. larry flynt, the (1996)': 406,
 'crimson tide (1995)': 407,
 'hamlet (1996)': 408,
 'rudy (1993)': 409,
 "william shakespeare's romeo and juliet (1996)": 410,
 'firm, the (1993)': 411,
 'deconstructing harry (1997)': 412,
 'akira (1988)': 413,
 'ghost in the shell (kokaku kidotai) (1995)': 414,
 'cyrano de bergerac (1990)': 415,
 'chasing amy (1997)': 416,
 'prince of tides, the (1991)': 417,
 'what dreams may come (1998)': 418,
 'jfk (1991)': 419,
 'heaven & earth (1993)': 420,
 'midnight in the garden of good and evil (1997)': 421,
 'six degrees of separation (1993)': 422,
 'hilary and jackie (1998)': 423,
 'misérables, les (1995)': 424,
 'malcolm x (1992)': 425,
 'bridges of madison county, the (1995)': 426,
 'interview with the vampire (1994)': 427,
 'alive (1993)': 428,
 'scent of a woman (1992)': 429,
 'inkwell, the (1994)': 430,
 'gattaca (1997)': 431,
 'taxi driver (1976)': 432,
 'far and away (1992)': 433,
 'cop land (1997)': 434,
 'godfather: part iii, the (1990)': 435,
 'nixon (1995)': 436,
 "what's eating gilbert grape (1993)": 437,
 'beloved (1998)': 438,
 'my crazy life (mi vida loca) (1993)': 439,
 'true romance (1993)': 440,
 "eve's bayou (1997)": 441,
 'hard-boiled (lashou shentan) (1992)': 442,
 'great expectations (1998)': 443,
 'high fidelity (2000)': 444,
 'red violin, the (le violon rouge) (1998)': 445,
 "general's daughter, the (1999)": 446,
 'adventures of priscilla, queen of the desert, the (1994)': 447,
 'powder (1995)': 448,
 'leaving las vegas (1995)': 449,
 'life is beautiful (la vita è bella) (1997)': 450,
 'american history x (1998)': 451,
 'cruel intentions (1999)': 452,
 'boogie nights (1997)': 453,
 'joy luck club, the (1993)': 454,
 'robin hood: prince of thieves (1991)': 455,
 'arachnophobia (1990)': 456,
 'nell (1994)': 457,
 'mask, the (1994)': 458,
 'clerks (1994)': 459,
 'boiler room (2000)': 460,
 'meet the parents (2000)': 461,
 'time to kill, a (1996)': 462,
 'frequency (2000)': 463,
 'rules of engagement (2000)': 464,
 'quiz show (1994)': 465,
 'wedding singer, the (1998)': 466,
 'cape fear (1991)': 467,
 'magnolia (1999)': 468,
 'searching for bobby fischer (1993)': 469,
 'swingers (1996)': 470,
 'star trek: first contact (1996)': 471,
 'sling blade (1996)': 472,
 'hurricane, the (1999)': 473,
 'chicken run (2000)': 474,
 'my cousin vinny (1992)': 475,
 'wrong trousers, the (1993)': 476,
 'return to paradise (1998)': 477,
 "wayne's world (1992)": 478,
 'contact (1997)': 479,
 'grand day out, a (1992)': 480,
 'kolya (1996)': 481,
 'mission: impossible 2 (2000)': 482,
 'trainspotting (1996)': 483,
 'tango lesson, the (1997)': 484,
 'age of innocence, the (1993)': 485,
 'remember the titans (2000)': 486,
 'boat, the (das boot) (1981)': 487,
 'when harry met sally... (1989)': 488,
 'cutting edge, the (1992)': 489,
 'hype! (1996)': 490,
 'bronx tale, a (1993)': 491,
 "midsummer night's dream, a (1999)": 492,
 'defending your life (1991)': 493,
 'breaking away (1979)': 494,
 'prophecy ii, the (1998)': 495,
 'alien³ (1992)': 496,
 'addams family, the (1991)': 497,
 'ever after: a cinderella story (1998)': 498,
 'honey, i shrunk the kids (1989)': 499,
 'chinatown (1974)': 500,
 'treasure of the sierra madre, the (1948)': 501,
 'naked gun 2 1/2: the smell of fear, the (1991)': 502,
 'duck soup (1933)': 503,
 'better off dead... (1985)': 504,
 'lost in space (1998)': 505,
 'american graffiti (1973)': 506,
 'home alone (1990)': 507,
 'ghost (1990)': 508,
 'teenage mutant ninja turtles (1990)': 509,
 'to sir with love (1967)': 510,
 'blast from the past (1999)': 511,
 'message in a bottle (1999)': 512,
 'jumanji (1995)': 513,
 'my favorite martian (1999)': 514,
 'batman forever (1995)': 515,
 'sabrina (1995)': 516,
 'adventures in babysitting (1987)': 517,
 'doctor dolittle (1967)': 518,
 'nutty professor, the (1963)': 519,
 "charlotte's web (1973)": 520,
 'phenomenon (1996)': 521,
 'watership down (1978)': 522,
 'michael (1996)': 523,
 "bram stoker's dracula (1992)": 524,
 'arsenic and old lace (1944)': 525,
 'superman (1978)': 526,
 'batman (1989)': 527,
 'pinocchio (1940)': 528,
 'good earth, the (1937)': 529,
 'lethal weapon 4 (1998)': 530,
 'dark crystal, the (1982)': 531,
 "'burbs, the (1989)": 532,
 'fried green tomatoes (1991)': 533,
 'carrie (1976)': 534,
 'journey of natty gann, the (1985)': 535,
 'jungle book, the (1967)': 536,
 'cool hand luke (1967)': 537,
 'spy hard (1996)': 538,
 'mystery science theater 3000: the movie (1996)': 539,
 'young frankenstein (1974)': 540,
 'all quiet on the western front (1930)': 541,
 'rocky horror picture show, the (1975)': 542,
 'harry and the hendersons (1987)': 543,
 'stargate (1994)': 544,
 'santa clause, the (1994)': 545,
 'houseguest (1994)': 546,
 'lady and the tramp (1955)': 547,
 'fantasia (1940)': 548,
 'high noon (1952)': 549,
 'dr. strangelove or: how i learned to stop worrying and love the bomb (1963)': 550,
 'peter pan (1953)': 551,
 'somewhere in time (1980)': 552,
 "pee-wee's big adventure (1985)": 553,
 'war of the worlds, the (1953)': 554,
 'heart and souls (1993)': 555,
 'river runs through it, a (1992)': 556,
 'producers, the (1968)': 557,
 'star trek: generations (1994)': 558,
 'robin hood (1973)': 559,
 'nine months (1995)': 560,
 'neverending story, the (1984)': 561,
 'little big man (1970)': 562,
 'rescuers, the (1977)': 563,
 'trading places (1983)': 564,
 'return from witch mountain (1978)': 565,
 "breakfast at tiffany's (1961)": 566,
 'first wives club, the (1996)': 567,
 'return to oz (1985)': 568,
 'rear window (1954)': 569,
 'rocketeer, the (1991)': 570,
 'being there (1979)': 571,
 'sleeping beauty (1959)': 572,
 'm*a*s*h (1970)': 573,
 'jack (1996)': 574,
 'little shop of horrors (1986)': 575,
 'escape to witch mountain (1975)': 576,
 'tom jones (1963)': 577,
 'tommy boy (1995)': 578,
 'while you were sleeping (1995)': 579,
 'practical magic (1998)': 580,
 'star trek: the motion picture (1979)': 581,
 'beetlejuice (1988)': 582,
 'star trek: the wrath of khan (1982)': 583,
 'star trek iii: the search for spock (1984)': 584,
 'sabrina (1954)': 585,
 'star trek iv: the voyage home (1986)': 586,
 'batman returns (1992)': 587,
 'roman holiday (1953)': 588,
 'meet me in st. louis (1944)': 589,
 'old yeller (1957)': 590,
 '13th warrior, the (1999)': 591,
 'gold rush, the (1925)': 592,
 'homeward bound: the incredible journey (1993)': 593,
 'shaggy dog, the (1959)': 594,
 '20,000 leagues under the sea (1954)': 595,
 'hook (1991)': 596,
 'ace ventura: pet detective (1994)': 597,
 'mixed nuts (1994)': 598,
 'hero (1992)': 599,
 'miracle on 34th street (1994)': 600,
 'citizen kane (1941)': 601,
 '2001: a space odyssey (1968)': 602,

In [62]:
# 인덱싱이 잘 되었는지 확인
print(user_to_idx['5949'])     
print(movie_to_idx['matrix, the (1999)'])

6039
124

In [64]:
# indexing을 통해 데이터 컬럼 내 값을 바꾸는 코드--> 복잡한 user_id와 movie를 인덱싱값으로 바꾸는 코드
# get(): Key로 Value얻기(get)
# map(f, iterable)은 함수(f)와 반복 가능한 데이터를 입력으로 받는다. map 함수는 입력받은 데이터의 각 요소에 함수 f를 적용한 결과를 리턴하는 함수이다.
# map()함수를 왜 쓰는지 확인필요. --> https://codinglevelup.tistory.com/83

temp_user_data = data['user_id'].map(user_to_idx.get).dropna()
if len(temp_user_data) == len(data):   # 모든 row가 정상적으로 인덱싱되었다면
    print('user_id column indexing OK!!')
    data['user_id'] = temp_user_data   # data['user_id']을 인덱싱된 Series로 교체해 줍니다. 
else:
    print('user_id column indexing Fail!!')

# movie_to_idx을 통해 movie의 'title' 컬럼도 동일한 방식으로 인덱싱해 줍니다. 
temp_movie_data = data['title'].map(movie_to_idx.get).dropna()
if len(temp_movie_data) == len(data):
    print('movie column indexing OK!!')
    data['title'] = temp_movie_data
else:
    print('movie column indexing Fail!!')

data

user_id column indexing OK!!
movie column indexing OK!!

    user_id  movie_id  counts    timestamp  title  genre
0         0    1193.0       5  978300760.0      0  drama
1         1    1193.0       5  978298413.0      0  drama
2         2    1193.0       4  978220179.0      0  drama
3         3    1193.0       4  978199279.0      0  drama
4         4    1193.0       5  978158471.0      0  drama
..      ...       ...     ...          ...    ...    ...
0      6039       NaN      30          NaN    124    NaN
1      6039       NaN      30          NaN   3480    NaN
2      6039       NaN      30          NaN   3370    NaN
3      6039       NaN      30          NaN   3441    NaN
4      6039       NaN      30          NaN   3386    NaN

[836483 rows x 6 columns]

# 모델설계(matrix factorization)

In [65]:
from scipy.sparse import csr_matrix

num_user = data['user_id'].nunique()
num_movie = data['title'].nunique()

print(num_user)
print(num_movie)

csr_data = csr_matrix((data.counts, (data.user_id, data.title)), shape= (num_user, num_movie))
csr_data

# csr_matrix((data, (row_ind, col_ind)), [shape=(M, N)])

6040
3628

<6040x3628 sparse matrix of type '<class 'numpy.int64'>'
	with 836483 stored elements in Compressed Sparse Row format>

# MF 모델 학습하기

In [67]:
from implicit.als import AlternatingLeastSquares
import os
import numpy as np

# implicit 라이브러리에서 권장하고 있는 부분입니다. 학습 내용과는 무관합니다.
os.environ['OPENBLAS_NUM_THREADS']='1'
os.environ['KMP_DUPLICATE_LIB_OK']='True'
os.environ['MKL_NUM_THREADS']='1'

In [68]:
# Implicit AlternatingLeastSquares 모델의 선언
als_model = AlternatingLeastSquares(factors=100, regularization=0.01, use_gpu=False, iterations=15, dtype=np.float32)

In [69]:
# als 모델은 input으로 (item X user 꼴의 matrix를 받기 때문에 Transpose해줍니다.)
csr_data_transpose = csr_data.T
csr_data_transpose

<3628x6040 sparse matrix of type '<class 'numpy.int64'>'
	with 836483 stored elements in Compressed Sparse Column format>

In [70]:
# 모델 훈련
als_model.fit(csr_data_transpose)

  0%|          | 0/15 [00:00<?, ?it/s]

In [71]:
SiHyeok, matrix = user_to_idx['5949'], movie_to_idx['matrix, the (1999)']
SiHyeok_vector, matrix_vector = als_model.user_factors[SiHyeok], als_model.item_factors[matrix]

In [72]:
SiHyeok_vector

array([ 0.32618383,  0.19303799,  0.32433218,  0.09497146,  0.60978365,
       -0.6598016 ,  1.7227674 ,  0.21951482, -0.17593342, -0.59955764,
       -0.0715293 ,  0.15206252, -0.3426157 ,  0.09569794,  0.6997509 ,
        1.0230776 , -0.82238346,  1.289791  , -1.4906485 ,  0.49464568,
       -0.1973952 ,  2.2219403 , -0.8553256 ,  1.1447054 ,  0.41198897,
       -1.444769  , -1.7540474 ,  0.34912118, -0.15432236,  0.55038625,
        0.56565475, -1.2053916 ,  0.7175467 ,  1.2500508 ,  1.3924603 ,
       -0.25133678,  0.55669683, -1.206602  , -1.4697223 , -1.8347267 ,
        0.5398969 , -0.6134697 ,  0.0285067 , -0.3233812 ,  1.8209544 ,
       -0.46179253,  1.5177987 ,  0.82245713, -1.7226928 ,  0.03663704,
        0.5646951 , -1.6740274 ,  1.7690079 , -0.14171869,  1.9723451 ,
        2.2792697 , -0.85445154,  0.9316445 , -0.09802068,  1.7872363 ,
       -0.19456878, -0.3261038 , -0.17512625,  0.09810306, -1.724945  ,
        0.45459795, -1.3925108 , -1.9736452 ,  1.2626199 ,  0.32007784,
        0.88703823, -1.6148723 ,  1.140485  , -1.5773596 , -1.7615141 ,
        0.92771965, -0.28151873, -1.0119269 ,  0.8290887 , -1.8637518 ,
        0.6909427 , -0.7832861 ,  1.5420423 , -1.9240243 ,  0.8253025 ,
       -2.641645  , -0.24801037,  1.1189162 ,  0.07528909, -0.83749485,
       -2.640683  ,  0.11151864,  2.3643975 , -2.3176239 , -0.65381354,
        2.2311404 ,  1.0454906 , -0.14118609,  0.11298145,  0.50292784],
      dtype=float32)

In [73]:
matrix_vector

array([ 0.01847467, -0.00887456,  0.01196309,  0.02674105,  0.00017046,
       -0.01798126,  0.02820741,  0.01215879, -0.00048436,  0.0139112 ,
        0.01119352,  0.01681052,  0.00659255,  0.00616379, -0.00458947,
       -0.00080127,  0.00873523,  0.03659083, -0.0157169 ,  0.01547554,
        0.00409913,  0.02625578,  0.01172511, -0.00169533,  0.01133032,
       -0.0020144 , -0.00671136,  0.02372355, -0.00957421, -0.00352102,
        0.00869877, -0.02809072,  0.00606648,  0.01300998,  0.00249483,
       -0.00920174, -0.01792815,  0.01108343,  0.00458632, -0.00527933,
        0.00313761, -0.00511267, -0.0188315 , -0.00906956,  0.04149845,
       -0.00176747,  0.00575252, -0.007669  , -0.00458829,  0.03935952,
       -0.00590109,  0.00775053,  0.0125361 , -0.03189727,  0.0242193 ,
        0.03023531, -0.00581784,  0.01890697,  0.00865569,  0.02516286,
       -0.00187069,  0.00216497, -0.00361784,  0.02786204,  0.00846371,
        0.0200375 ,  0.00518239, -0.01527593,  0.02167612,  0.02744251,
        0.00659644,  0.00496022,  0.00375075, -0.01849197, -0.02219314,
        0.00799007,  0.03068302, -0.01918928,  0.03114935, -0.01166763,
        0.03766959, -0.01739074, -0.01958146, -0.00484495,  0.02478646,
       -0.01312378, -0.0201723 ,  0.03913043, -0.0054578 ,  0.00920149,
        0.00083257,  0.03114936,  0.02543618,  0.00200401,  0.01654196,
        0.01949146, -0.00036335, -0.01126696, -0.00527395,  0.02806482],
      dtype=float32)

In [74]:
# SiHyeok과 matrix를 내적하는 코드 -> 선호하는 영화
np.dot(SiHyeok_vector, matrix_vector)

0.9510372

In [76]:
# 선호하지 않는 영화
backstage = artist_to_idx['back stage (2000)']
backstage_vector = als_model.item_factors[backstage]
np.dot(SiHyeok_vector, backstage_vector)

0.30393395

# 영화 추천받기

In [77]:
favorite_movie = 'matrix, the (1999)'
movie_id = movie_to_idx[favorite_movie]
similar_movie = als_model.similar_items(movie_id, N=15)
similar_movie

[(124, 1.0000001),
 (92, 0.76482785),
 (62, 0.63607883),
 (141, 0.5825625),
 (200, 0.57684237),
 (145, 0.57560116),
 (375, 0.5370542),
 (107, 0.5124092),
 (317, 0.48930123),
 (175, 0.48214877),
 (3441, 0.45190972),
 (3370, 0.44953355),
 (3386, 0.44005257),
 (3480, 0.43735176),
 (44, 0.43381098)]

In [78]:
#movie_to_idx 를 뒤집어, index로부터 movie 이름을 얻는 dict를 생성합니다. 
idx_to_movie = {v:k for k,v in movie_to_idx.items()}
[idx_to_movie[i[0]] for i in similar_movie]

['matrix, the (1999)',
 'terminator 2: judgment day (1991)',
 'total recall (1990)',
 'fugitive, the (1993)',
 'terminator, the (1984)',
 'fifth element, the (1997)',
 'face/off (1997)',
 'jurassic park (1993)',
 'twelve monkeys (1995)',
 'men in black (1997)',
 'tokyo fist (1995)',
 'eaten alive (1976)',
 'beauty (1998)',
 'back stage (2000)',
 'star wars: episode iv - a new hope (1977)']

# 회고
    ALS는 하나의 행렬의 수렴을 끝내고 다른 하나의 행렬의 수렴을 진행한다는 점에서 가장 큰 차이를 보입니다.
    (기존의 SGD가 두 개의 행렬(User Latent, Item Latent)을 동시에 최적화하는 방법)
    예로, 초기 아이템, 사용자행렬을 초기화 후, -->
    아이템행렬을 고정하고 사용자 행렬을 최적화, -->
    사용자행렬을 고정하고 아이템행렬을 최적화, -->
    위절차를 반복하면서 행렬의 최적화값이 달라집니다. 
    해당과정을 반복해가면서 두 행렬 모두 수렴의 근접한 값을 찾아주는게 ALS알고리즘의 핵심임을 공부하는 노드 였습니다. 
    
    최초 선택된 5개의 my_favorit 리스트에 따라 결과값이 다르게 나오게되기 때문에 직접적으로 영화제목을 입력받기( 물어보기) 보다, 질문을 통해 favorit을 유추한 뒤 상관관계를 도출한다면 더욱 정확한 값을 얻을 수 있을 듯 하다.   
    
    ref)
    1. https://eda-ai-lab.tistory.com/529
    1. https://codinglevelup.tistory.com/83